# React Native
node_modules/
ios/Pods/
*.log
*.lock
*.tmp
*.temp
*.swp

# React Native Build
android/.gradle/
android/app/build/
ios/build/
*.keystore
*.jks

# Misc
.env
.env.*    # All environment variants
.expo/
.expo-shared/
web-build/
*.DS_Store
*.idea/
*.vscode/
coverage/
dist/

# Metro
.cache/
babel.config.js

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Windows
*.stackdump

# Linux
*~

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*

# Watchman
.watchmanconfig

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate

# Android Studio
*.iml
.gradle/
local.properties
.idea/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Bundle output
*.apk
*.aab
*.ipa

config.js
.env
